# Ignore artifacts:

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
/.github/
graphql.schema.json
graphql.ts
/src/generated/backendGraphql.ts
/src/database/schema.ts
/src/database/relations.ts

*.json
*.css
*.mdx
*.graphql
*.yml
*.md
